body {
    margin: 0;
    background: #000233;
}
* {
    box-sizing: border-box;
}
.container {
    backface-visibility: hidden;
}
.container canvas {
    backface-visibility: hidden;
}

/*.container{
    pointer-events: none;;
}

button{
    all: unset;
    display: block;
    width: 100%;
}*/


body{
    /*overflow: hidden;*/
}
.container{
    width: 1808.49px;
    height: 826.96px;
    top: 100px;
    margin: auto;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    opacity: 0.7;
    position: absolute;
}
.container:nth-child(2){
    width: 100%;
    transform: scale(0.5);
    position: absolute;
    display: none;  
}



